{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 120,
  "tabWidth": 2,
  "arrowParens": "avoid",
  "endOfLine": "lf",
  "jsxSingleQuote": true,
  "plugins": ["@ianvs/prettier-plugin-sort-imports"],
  "importOrder": [
    "^(next)(/.*)$",
    "^(next/(.*))$",
    "^react$",
    "<BUILTIN_MODULES>",
    "<THIRD_PARTY_MODULES>",
    "^@components/(.*)$",
    "^[.]"
  ],
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"]
}
